body {
    overflow: hidden;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Consolas';
}

#drag-file {
    width: 100vw;
    height: 100vh;
    background-image: radial-gradient(#313131, #292929);
    opacity: 0.85;
    color: #DCE0D9;
    font-size: 3.5vw;
    text-align: center;
}

#drag-text {
    padding-top: 15px;
}

header {
    display: flex;
    justify-content: flex-start;
    -webkit-app-region: drag;
    background: #292929;
    flex-direction: row-reverse;
}

#close {
    padding: 5px 20px;
    font-size: 10px;
    cursor: pointer;
    color: white;
    -webkit-app-region: no-drag;
}

#close:hover {
    background: #6B0F1A;
}